html {
    scroll-behavior: smooth;
  }

body  {
    background-color: rgba(241, 200, 190, 0.2) ;  
    background: radial-gradient( circle, #ffdde1, #ee9ca7);
    min-width: 360px;
    } 

.backcolor    {
        background-color: rgba(241, 200, 190, 0.2) ;  
        background: radial-gradient( circle, #ffdde1, #ee9ca7);
        
        }

  
.vertical-align {
    display:flex;
    align-items: center ; }



.redes-rrss {
   
    width: 10%;
    height: 5%;
    position: fixed;
    top: 3%;
    right: 0%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;

  
}

.redes-rrss__instagram {
   
    width:10%;
    height:auto;
    color:#FFF;
    border-radius:50px;
    font-size:200%;

}

.redes-rrss__facebook {
  
    width:10%;
    height:auto;
    color:#FFF;
    border-radius:50px;
    font-size:200%;
   
}

.redes-rrss__whatsapp {
 
    width:10%;
    height:auto;
    color:#FFF;
    border-radius:50px;  
    font-size:200%;
 
}

.redes-rrss a {
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

   
.redes-rrss a:hover   {
   
    transform:scale( 1.5  ) ;
    color:gray;
 
}

h1:hover   {
   
  transform:scale( 1.10  ) ;
  cursor: pointer;
  text-shadow: 2px 2px 2px gray
}


.footer__linea  .header_linea {
    color: #c70868;
    size:10;
}



.header__imgIcono {
         
    width: 120px;
    height: auto;
    padding-left: 5px;  
    border-radius:60px;
    object-fit: cover;   
    animation:spin 10s linear infinite;
 
}

.header__titulo {
    color: #c70868;
    margin-top: 0%;
    font-family:Crimson Pro;
    font-style: italic;
    font-size:  550%; 
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 2px gray
     
}


.tituloh2
{
  color: #c70868;
  font-family:Crimson Pro;
  font-style: italic;
  font-size:  250%; 
  font-weight: 600

  
}

.card_p {
  color: #c70868;
  font-family: roboto;
  font-style: italic;
  font-size:  120%; 
 
 
}

.main__imgDestacado {
width:80%; 
height: 80%;
border-radius:5px;
justify-self: center;
object-fit:fill;
align-self: cover;
box-shadow: 10px 10px 5px grey ; 
transition: all 0.50s ease-in-out ;
}

.footer__parrafo {

    font-family:Crimson Pro;
    color: #c70868;
    font-size: 20px;
   
}

.footer__parrafo a p {

    font-family:Crimson Pro;
    color: #c70868;
    font-size: 20px;
   
}

.footer__parrafo2  {
    color:#c70868;
    font-size: 20px;
}

.footer__parrafo2 i:hover {
    
    transform:scale( 1.2 ) ;
    color:gray; 
    }

.footer__parrafo2 a p li {

    font-family:Crimson Pro;
    color: #c70868;
    font-size: 20px;
}
 
.btn-color {
    color: white;
    background-color: #c70868;
    
}

.footer__parrafo2 a:hover   {
   
    transform:scale( 1.5  ) ;
    color:gray;
    
}

.main__parrafo {

    font-family:Crimson Pro;
    color:gray;
    font-size: 16px;
   
 
}


.imgIcono {
     
    width: 120px;
    height: auto;
    padding-left: 5px;  
    border-radius:60px;
    object-fit: cover;   
    animation:spin 10s linear infinite;
 
}
 

.imgtitulo  {
     
    width: 44px;
    height: 44px;
    border-radius:60px;
    object-fit: cover;   
    animation:spin 10s linear infinite;
 
}
 

@keyframes spin { 
    50% {   transform:rotate(360deg); } 
    50% {   transform:rotate(-360deg); } 
} 




@media only screen and (max-width: 768px) {
  
    .footer__parrafo2  {
        color:#c70868;
        font-size: 15px; 
    }
    
    .header__imgIcono {    
        width: 60px;
        height: auto;
       }

    .header__titulo   { 
        font-size:  200%;     
     }

     .redes-rrss__instagram    {
        font-size: 100%;  
    }
    
    .redes-rrss__facebook
    {   
        font-size: 100%; 
        }
    
    .redes-rrss__whatsapp {  
        font-size: 100%; 
     }
 
    
.redes-rrss {
   
    width: 15%;
    height: 5%;
    position: fixed;
    top: 1%;
    right: 0%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
 }

 
.carousel--galeria {
    padding-left:  1rem;
    padding-right:  1rem;
  }
 

  .carousel-caption--galeria {
  
    z-index: 10;
  }
   
 
  .carousel-item--galeria {
    height: 32rem;
    background-color: #ee9ca7 ;
    
  }

  .carousel-item--galeria > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  

  @media (min-width: 40em) {

    .carousel-caption--galeria p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
 
  }
  
  
  .backcolor_galeria
  {
 
      background: #bc4e9c;  
      background: -webkit-linear-gradient(to right, #bc4e9c, #f80759);  
      background: linear-gradient(to right, #bc4e9c, #f80759);
      color:#ff9999    ;      
  }


.card:hover img{
transform: scale(1.05);
box-shadow: 0 10px 20px;
  }

/* fomularios */

.contact_form{  
    width: 350px;  
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
   width: 290px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 290px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  .formulario_button label{
    display: block; 
    float: center;  
  }
  
  
  .formulario_button  {
    height: 45px; 
    padding-top: 10px;
    text-transform: uppercase;
    background-color: #c70868; 
    border-color:#c70868; 
    border-style: solid; 
    border-radius: 10px;  
    text-align: center;
    width: 290px;   
    cursor: pointer;
  }
  
  .formulario_button button p{
    color: #fff; 
  }
  
  .formulario span{
    color: #ab4493; 
  }
    
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  .formulario  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #c70868
  }
  
  .formulario  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  .formulario p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  li {
    color:#c70868; 
    }
    
    ul {
        color: #c70868;
        background: radial-gradient( circle, #ffdde1, #ee9ca7) ; 
    }
    
    ul ul {
        color: #c70868;
        background: radial-gradient( circle, #ffdde1, #ee9ca7) ;  
    }
    
    ul ul li {
        color: #c70868;
        background: radial-gradient( circle, #ffdde1, #ee9ca7) ;
    }
    
    ul ul a:hover  {
            font-style:normal;   
    }
 
    ul a:hover  {
      font-style:normal;   
}



    a:link {
      text-decoration: none;
}


ol li a:hover  {
  font-style:normal;  
  color: #c70868; 
}

 
li a:hover  {
  font-style:normal;   
  color: #c70868;
}


a {
  font-size: 25px;

  font-style: italic;
  color: #c70868;
  text-align:center;
  display: inline;
  font-family:Crimson Pro;
  width: 100%;
  
}

.polaroid {
  background-color:white;
  padding:10px 10px 50px 10px;
  border:1px solid #BFBFBF;
  box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}


.color {
  color: #c70868;
}


